.header-box {
    height: 60px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001529;
}

.logo-box {
    color: #fff;
    font-size: 25px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    align-items: center;
}

.nav-menu li {
    margin: 0 10px;
}
